body {
	background-color: orange;
}

.main-contents {
	margin: 0 auto;
	background-color: #fff5ee;
	text-align: center;
}

.header {
	text-align: center;
}

.header .title{
	font-size: large;
}

.errorMessages {
	color: red;
}

.errorMessages li{
	list-style: none;
}

.form-area {
	text-align: center;
}

.message-and-comment{
	margin: 20px auto 35px auto;
	text-align: center;
	background-color: white;
	width: 80%;
	border: solid 2px orange;
}

.message{
	border-bottom: solid 1px orange;
}

.message .user-name {
	font-weight: bold;
	font-size: large;
}

.message .category{
	font-weight: lighter;
	color: gray;
	font-size: small;
}

.comment{
	border-bottom: solid 1px orange;
}

.date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.users .user{
	margin: 20px auto;
	padding: 5px;
	background-color: white;
	width: 80%;
	border: solid 1px black;
}

.copyright{
	margin: 20px auto 0 auto;
}